<form class="container"  #Form="ngForm" (ngSubmit)="log()">
  <div class="form-group" >

    <label for="Email">Email Address :</label>
    <input type="email" class="form-control" [(ngModel)]="hamada.email" name="email" #email="ngModel"  placeholder="Enter Your Email">

  </div>
  <div class="form-group">

    <label for="Password">Password :</label>
    <input type="password" class="form-control" [(ngModel)]="hamada.password" name="password" #password="ngModel" placeholder="Password">

  </div>

  <br>
  <button type="submit" class="btn btn-info">Login</button>
</form>
<br>
